{% extends 'base.html.twig' %}

{% block title %}Connectez-vous!{% endblock %}

{% block body %}
<div class="container mx-auto p-2" style="width: 800px;">


    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
        <label for="inputMail">Mail</label>
        <input type="text" value="{{ last_username }}" name="mail" id="inputMail" class="form-control" autocomplete="username" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
        <br>
        <br>


        <div>
            <button class="btn btn-primary" type="submit">
                Connexion
            </button>
        </div>
      <!--  <a href="{ path('MailerControler.') }}">Mot de passe oublié</a>-->
        <br>
        <br>
        <div>
            <a href="{{ path('app_user_new') }}">Pas encore inscrit ?</a>
        </div>
    </form>
</div>
{% endblock %}
