{% extends 'base.html.twig' %}

{% block title %}Publication index{% endblock %}

{% block body %}
    <h1>Toutes les publications</h1>


        {% for publication in publications %}
            <div style="text-align: center" >
                <div>N° de publication : {{ publication.id }}</div>

                {% for image in publication.images %}
                <div>
                    <img src="{{ asset('photo/'~image.IDPublication.id ~ '/' ~ image.photo) }}" alt="Avatar">
                <div>
                    {% endfor %}
                    {% for video in publication.videos %}
                <div>
                    <video width="320" height="240" controls autoplay>
                        <source src="{{ asset('videos/' ~video.IDPublication.id ~ '/' ~video.lien) }}" type='video/mp4'>
                        Erreur lors de la lecture de la vidéo
                    </video>
                </div>
                {% endfor %}

                    <b><div>Titre :</div></b>
                    <div>{{ publication.Titre }}</div>
                    <b><div>Description :</div></b>
                <div>{{ publication.Description }}</div>
                <b><div>Date de publication :</div></b>
                <div>{{ publication.DateHeure ? publication.DateHeure|date('Y-m-d H:i:s') : '' }}</div>
                <b><div>Duree du retard :</div></b>
                <div>{{ publication.DureeRetard ? publication.DureeRetard|date('H:i:s') : '' }}</div>
                <b><div>Commentaires :</div></b>
                {% for commentaire in publication.commentaires %}
                    <div>
                        <div>{{ commentaire.IDUtilisateur.pseudo }} : </div>
                        <div>{{ commentaire.commentaire }}</div>
                    </div>
                {% endfor %}

                <div>
                    <div><a href="{{ path('app_commentaire_new', {'id': publication.id} ) }}">Ajouter un commentaire</a></div>
                    <div><a href="{{ path('app_publication_show', {'id': publication.id}) }}">Voir</a></div>
                </div>
            </div>

            <br>
            <br>
            <br>
        {% else %}
            <div>
                <div>no records found</div>
            </div>
        {% endfor %}


    <a href="{{ path('app_publication_new') }}">Nouvelle publication</a>
    <br>
    <br>
    <!--recupere l'id de l'utilisateur connecté ou publication.IDUtilisateur -->

    <a href="{{ path('app_user_show', {'id' : app.user.id }) }}">Mes publications</a>
                </div>
            </div>
{% endblock %}
